@use "variables" as v;

footer{
    display: flex;
    background-color: #c7b689;
    padding: 2rem 0;
    margin-top: 3rem;
    
    @include v.mobile{
        .footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 1.5rem 1rem;
        gap: 1rem;
    }
    }

    @include v.table {
        .footer {
        padding: 2rem;
        flex-wrap: wrap;     
        justify-content: center;
        text-align: center;
        gap: 1.5rem;
    }
    }

}