//Aca va a ir todo el codigo de css y sass de mi header y su responsive
@use "variables" as v;

header {
    background-color: v.$background-header;
    position: sticky;
    top: 0;
    z-index: 10;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    
    .imagen-logo {
        width: 90px;
        height: 50px;
        object-fit: cover;
    }

    .logo-container p {
        font-size: 14px;
        margin: 0;
        font-family: v.$fuente-secundaria;
    }

    .navbar ul {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        gap: 15px;

        .navbar a {
            color: v.$fuente-color-titulos;
            text-decoration: none;
            font-size: 18px;
            font-family: v.$fuente-secundaria;
            padding: 5px 10px;
            border-radius: 5px;
            transition: 0.3s;
        }:hover {
                opacity: 0.7;
                border: 1px solid grey;
            }
    }

    @include v.mobile
    .menu-icon {
        display: block;
    }

    .navbar ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: 0;
        background-color: v.$background-header;
        width: 200px;
        padding: 15px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        border-radius: 0 0 10px 10px;
    }

    #menu-toggle:checked+.menu-icon+.navbar ul {
        display: flex;
    }

    .navbar ul li {
        margin: 10px 0;
    }
}