@use "variables" as v;

.main {
    background-color: v.$background;
    display: block;
    width: 70%;
    max-width: 1200px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 20px;

    .bloque__title {
        font-size: 14px;
        margin: 20px 20px;
        border-radius: 40px;
        font-family: v.$fuente-secundaria;
        background-color: #6AA6A6;
        padding: 10px 10px;
        color: v.$background-header;

        .bloque__title a {
            all: unset;
        }

        .bloque__title :hover {
            opacity: 80%;
        }



        @include v.table {
            .main {
                width: 85%;
            }
        }
    }

    @include v.mobile {
        main {
            width: 95%;
            padding: 15px;
        }
    }
}