@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: grey;
    font-family: "Nunito Sans", sans-serif;
    padding: 15px;
}

body {
    background-color: #d1ccbd;
}

/*Encabezado de pagina*/

.header {
    background-color: #c7b689;
    position: sticky;
    top: 0px;
    padding: 0px;
}

.imagen-logo {
    width: 90px;
    height: 50px;
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar :hover {
    opacity: 50%;
    border: 1px solid black;
}

.navbar ul {
    display: flex;
    list-style: none;
    margin: 0;
}

.navbar li {
    display: inline;
    margin: 0 10px;
}

.navbar a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-family: sans-serif;
    display: block;
    padding: 5px;
}

/*Cuerpo de pagina*/
.main {
    background-color: beige;
    display: block;
    width: 70%;
    /* Ocupa el 90% del ancho disponible */
    max-width: 1200px;
    /* Limita el ancho máximo para pantallas grandes */
    margin: 20px auto;
    /* Agrega un margen superior/inferior y lo centra horizontalmente */
    padding: 20px;
    /* Espacio interno entre el contenido y los bordes */
    border-radius: 8px;
    /* Bordes redondeados para un aspecto más moderno */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}


.imagen-principal {
    display: flex;
    width: 300px;
    height: 300px;
    margin: 10px;
}

.contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.programa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: aliceblue;
    border: 2px solid grey;
    text-align: justify;
    margin: 10px;
    padding: 10px 20px 10px 20px;
}

.programa__titulo {
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    padding: 5px;
}

.programa__imagen {
    max-width: 100%;
    padding: 5px;
}

.programa__texto {
    color: grey;
    font-family: sans-serif;
    padding: 10px;
}

.programa__boton {
    font-family: sans-serif;
    font-size: large;
    border: none;
    font-weight: bold;
    background-color: #4A8C7A;
    padding: 10px;
}

.programa__boton :hover {
    opacity: 40%;
}


.carrusel {
    display: block;
    text-align: center;
    max-width: 600px;
    margin: auto;
    
}

.carrusel img {
    max-height: 400px;
    /* controla el alto */
    object-fit: cover;
    /* recorta para que no se deforme */
    width: 100%;
    border-radius: 10px;
    margin: 10px;
    /* opcional, esquinas suaves */
}


    /*


.contenedor-carrusel {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.carrusel-imagen {
    min-width: 100%;
    transition: transform 0.5s ease;
}

.carrusel-imagen img {
    width: 100%;
    border-radius: 10px;
}


/*Pie de pagina*/

.footer {
    display: flex;
    background-color: #c7b689;
    padding: 2rem 0;
    margin-top: 3rem
}